  
.Footer {
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    flex-direction: column;
    background: #f3f3f3;
  }
  .Footer-block {
    display: flex;
    flex-direction: column;
    width: 87%;
    margin: auto;
  }
  .Footer-rowone{
    display: flex;
  }
  .Footer-copyright{
    flex: 4;
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 1.5rem;
  }
  .Footer-copyright h3 {
    margin: 0;
    
    font-size: 2.6rem;
    line-height: 3rem;
    letter-spacing: -.436364px;
  }
  .Footer-copyright div {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: -.204545px;
  }
  .Footer-shopping{
    flex: 1;
  }
  ul li{
    list-style: none;
    text-align: start;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: -.231818px;
  }
  ul li a{
    text-decoration: none;
    color: black;
   
  }
  .Footer-shopping ul {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    
  }
  .list .list-heading {
    font-weight: 700;
    font-size: 1.4rem;
  }
  .Footer-account{
    flex: 1;
  }
  .Footer-account ul{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }
  .Footer-rowtwo{
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
    text-align: left;
  }
  
  .Footer-newsletter .heading h3 {
    margin: 0;
    padding: 0 10px;
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: -.3px;
  }
  .Footer-newsletter .email-input {
    padding: 0 10px;
    margin-top: 30px;
  }
  
  .Footer-newsletter .email-input input {
    border: none;
    border-bottom: 1px solid #dedede;
    color: #dedede;
    font-size: 1.2rem;
    line-height: 1.25rem;
    letter-spacing: -.204545px;
    background-color: #f8f8f8;
    padding: 10px 5rem 10px 0;
    width: 290px;
  }
  .Footer-newsletter .email-input button {
    border: none;
    background: #bbdde8;
    padding: 8px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  button svg{
    width:2rem;
    height: 2rem;
  }
  .Footer-sociallinks{
    display: flex;
    align-items: flex-end;
   column-gap: 2rem;
  }